In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
data=pd.read_csv('/content/sample_data/movies.csv')

In [5]:
data.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [6]:
data.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [7]:
features = ['keywords','cast','genres','director']

In [8]:
# Our next task is to create a function for combining the values of these columns into a single string.


def combine_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']

In [9]:
# Now, we need to call this function over each row of our dataframe. But, before doing that, we need to clean and preprocess the data for our use. We will fill all the NaN values with blank string in the dataframe.


for feature in features:
    data[feature] = data[feature].fillna('') #filling all NaNs with blank string


data["combined_features"]=data.apply(combine_features,axis=1) #applying combined_features() method over each rows of dataframe and storing the combined string in "combined_features" column

In [10]:

data.iloc[0].combined_features

'culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez Action Adventure Fantasy Science Fiction James Cameron'

In [11]:
#Now that we have obtained the combined strings, we can now feed these strings to a CountVectorizer() object for getting the count matrix.

cv = CountVectorizer() #creating new CountVectorizer() object
count_matrix = cv.fit_transform(data["combined_features"]) #feeding combined strings(movie contents) to CountVectorizer() object

In [12]:
#At this point, 60% work is done. Now, we need to obtain the cosine similarity matrix from the count matrix.

cosine_sim = cosine_similarity(count_matrix)

In [13]:
#Now, we will define two helper functions to get movie title from movie index and vice-versa.


def get_title_from_index(index):
    return data[data.index == index]["title"].values[0]
def get_index_from_title(title):
    return data[data.title == title]["index"].values[0]

In [23]:
movie_user_likes = "Monsters University"
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index])) #accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it

In [24]:
# Now comes the most vital point. We will sort the list similar_movies according to similarity scores in descending order. Since the most similar movie to a given movie will be itself, we will discard the first element after sorting the movies.

sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]

In [25]:
# Now, we will run a loop to print first 5 entries from sorted_similar_movies list.

i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>5:
        break

Top 5 similar movies to Monsters University are:

Monsters, Inc.
Inside Out
Atlantis: The Lost Empire
Monster House
Cars 2
Home on the Range